*{
    margin: 2px;
    padding: 0px;
}

body{
    background-color: rgb(205, 212, 212);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
     width: 80%;
     margin: 2px auto;
     border: 5px solid rgb(9, 38, 59)
}

header{
  background-color: bisque;
  height: 80px;
  width: 100%;
  text-align: center;
  line-height: 80px;
  color: rgb(95, 23, 23);
  border-bottom: 3px;
  border-top: 3px;
  border-left: 3px;
  border-right: 3px;
}

nav{
    float: right;
    list-style: none;
    margin: 10px;
    background-color: rgb(229, 205, 175);
    height: 180px;
    border: 2px solid rgb(5, 35, 56);

}
.clearfix{
    clear:both;
}


